@import "sass/home.scss";
@import "sass/header.scss";
@import "sass/login.scss";
@import "sass/notifications.scss";
@import "sass/user.scss";
@import "sass/comment.scss";
@import "sass/blog.scss";

html {
  background-color: #b7b7b7;
}
.container {
  background-color: #fff;
  padding: 0 -15px;
  margin: 0 auto;
  max-width: 800px;
  border: 5px dashed #333;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  // align-items: center;
}

.col-xs-3 {
  width: 25%;
  padding: 0 0.25rem;
}
