#header {
  display: flex;
  align-items: center;

  a {
    font-size: 1.5rem;
    padding: 1rem;
    font-family: "Staatliches", cursive;
  }

  #logo {
    font-family: "Staatliches", cursive;
    font-size: 2rem;
  }

  .header-right {
    margin-left: auto;
  }

  #logoutButton {
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.notifications {
  padding: 1rem;
  font-weight: 600;
  color: white;

  &.error {
    background-color: red;
  }

  &.success {
    background-color: green;
  }
}

#loginForm {
  input {
    margin-left: 0.5rem;
  }
}

.blog {
  border: 1px solid #333;
  padding: 1rem;
}

#user {
  .title span {
    font-size: 1rem;
    color: #555;
  }
}
